div.receiv
{
	width:60%;
	background-color:#00ACC1 ;
	font-family: Segoe Print;
	font-size: 15px;
	border-radius:8%;
	color: white;
	margin: 10px 0 0 5px;
	paddding-left:100px;
	align: left;
	word-wrap: break-word;
}
div.sent
{
	width:60%;
	background-color:#8BC34A ;
	font-family: Segoe Print;
	border-radius:25%;
	font-size: 15px;
	color:white;
	margin: 10px 5px 0 0;
	align: right;
	padding-right: 100px;
	word-wrap: break-word;
}
div.time
{
	font-size:11px;
	font-family: Segoe Print;
	color: white;
}
div.unread
{
	width: 90%;
	background-color:#FF8F00 ;
	font-family:Segoe Print;
	border-radius:25%;
	font-size:15px;
	color:white;
	align: center;
	margin:40px 0 0 10px;
}